<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>FacebookAppID</key>
    <string>1272425179437926</string>
    <key>FacebookDisplayName</key>
    <string>Tappy Town</string>
    <key>plistKeys</key>
    <array>
      <string>MinimumOSVersion</string>
      <string>UIFileSharingEnabled</string>
      <string>UIViewControllerBasedStatusBarAppearance</string>
      <string>UIBackgroundModes</string>
      <string>NSLocationWhenInUseUsageDescription</string>
      <string>LSApplicationQueriesSchemes</string>
      <string>FacebookAppID</string>
      <string>FacebookDisplayName</string>
      <string>CFBundleURLTypes</string>
      <string>GPGApplicationID</string>
      <string>SoomlaGameKey</string>
      <string>SoomlaEnvKey</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <false />
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false />
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>
        </string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb1272425179437926</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>