<manifest>
	<application>
        <!-- ====== -->    
        <!-- VUNGLE -->
        <!-- ====== -->
		<activity android:name="com.vungle.publisher.FullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service android:name="com.vungle.publisher.VungleService" android:exported="false" />
    </application>
</manifest>